body {
  background: darkgray;
}

h1 {
  text-align:center;
}

#addButton {
  width: 25%;
  height: 30px;
  font-size: large;
  margin:0 auto;
  display:block;
  background: red;
}

#enterBar {
  width: 75%;
  height: 50px;
  font-size: large;
  margin:0 auto;
  display:block;
  
}

#remove {
  display:flex;
}

li {
  font-size: large;
  margin: 0 10px;
  border: 2px solid white;
  padding: 10px;
  width: 100px;
  background: black;
  color:white;
  margin-bottom: 5px;
}
li:nth-child(odd) {
  font-size: large;
  margin: 0 10px;
  border: 2px solid black;
  padding: 10px;
  width: 100px;
  background: white;
  color: black;
  margin-bottom: 5px;
}
li:hover {
  font-size: large;
  margin: 0 10px;
  border: 2px solid black;
  padding: 10px;
  width: 100px;
  background: lightcoral;
  color: black;
  margin-bottom: 5px;
}

ul{
  display:inline-block;
  justify-content: center;
}
#container {
  text-align:center;
}